%div{id: vm.id_value}
  .row
    .col-md-6
      %h2 #{ render_form_view_model title, form_object }
    .col-md-6
      = render_view_model show_modal
  .row
    .col-md-12
      = render_form_view_model body, form_object

  = render_form_view_model save, form_object

:javascript
  var simpleMDE = new SimpleMDE({
      promptURLs: true,
      toolbar: [
        "bold", "italic", "strikethrough",
        "|", // Separator
        "heading-1", "heading-2", "heading-3",
        "|", // Separator
        "unordered-list", "ordered-list",
        "|", // Separator
        {
            name: "link",
            action: function customFunction(editor){
                console.log("link");
                SimpleMDE.drawLink(editor);
            },
            className: "fa fa-link",
            title: "Add Link"
        },
        {
            name: "image",
            action: function customFunction(editor){
                console.log("image");
                SimpleMDE.drawImage(editor);
            },
            className: "fa fa-image",
            title: "Add Image"
        },
        "|", // Separator
        "preview", "side-by-side", "fullscreen"
      ]});

